.Main {
    display: flex;
    height: 125vh;
    width: 100%;
    background-color: burlywood;
    flex-direction: column;

}
.header {
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
    background-color: cadetblue;
} 
h1 {
    font-size: 4em;
    font-family: 'Times New Roman', Times, serif;    
}
@media only screen and (max-width: 600px) {
   
    .middle img {
        width: 100%;
        height: 70%;
    }

  }
